.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.questList {
  display: flex;
  flex-direction: row;
  gap: 18px;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}

.quest {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #1b1b1b;
  width: 432px;
  margin: 8px;
  border-radius: 8px;
  padding: 16px;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
}