@import "./variables.scss";
@import "./mixins.scss";
@import "./fonts.scss";

body {
    color: $color-white;
    background: $theme-black;
    font-family: Proxima-Regular !important;
}

span,
input {
    font-size: 18px;
}

a {
    text-decoration: none;
}