@mixin flex-block($dir: column, $gap: 8px) {
    display: flex;
    flex-direction: $dir;
    gap: $gap;
}

@mixin block-centered-absolute() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}