$theme-black: #111111;

$color-white: #ffffff;
$color-purple: #84009a;
$color-hover-purple: #af10cb;
$color-primary-purple: #84009a;
$color-primary-purple-disabled: #df89ee;
$color-blue: rgb(78, 78, 209);
$color-hover-blue: rgb(126, 126, 219);
$color-dark: #1b1b1b;