@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.link {
    font-size: 16px;
    color: $color-white;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

    &:hover {
        cursor: pointer;
        color: $color-hover-blue;
    }
}